.aboutme,
section {
   /* adding borders for debugging */
   
}

space{
    height: 500px;

}
h1{

    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

h2{
    text-align: center;
    font-family: 'Space Mono', monospace;
    color:black;
    
    font-size: larger;
}

h3{
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    -webkit-text-stroke: 0.5px black;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: lightblue; /* Green */
    color: rgb(100, 102, 219);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 200px;
    
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "a a a"
        "b c d";
    height: 100%;
    grid-row-gap: 20px;
    padding: 70px;
    align-content: center;
  
 }

 .emailtitle{
    grid-area: a;
   
}

 .email1{
     grid-area: b;
     width: 200px;
     margin: auto;

 }

 .email2{
    grid-area: c;
    width: 200px;
    margin: auto;   
}

.email3{
    grid-area: d;
    width: 200px;
    margin: auto;

}

  .button:hover {
    color:lightblue;
    background-color: blue;

  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:white;
    color:  #333;
  }

  .name{
    margin-right: 58em;
  }

  .aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b";
    height: 100%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 100px;
    min-height: 200px;
    min-width: 400px;
 }

 .info{
     grid-area: b;
     width: 200x;
     margin-right: 150px;
 }

 .profilepic{
     grid-area: a;
     align-content: center;
     width: 450px;
     margin-left: 150px;
 }
 #welcoming{
     text-align: left;
     margin-left: 1em;
 }
 #aboutme{
     text-align: left;
     margin-left: 1.5em;
 }
 #aboutmeinfo{
    text-align: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
}



body {
    height:100%;
    margin:0;
    padding:0;
}
body * {
    box-sizing: border-box;
    /* border: solid 1px #000; */
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 20vh;
    grid-template-areas:
      "top"
      "bottom";
    height: 100vh;
    width: 100vw;
}
#featured {
    grid-area: top;
}
.cards {
    grid-area: bottom;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    list-style: none;
}
.card {
    width: 12.5%;
    height: 100%;
    padding-bottom: 10px;
    padding-right: 10px;
}
.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.image.active {
    border: solid 5px black;
}

.image:hover {
    opacity: 0.7;
}


.preview_box {
    width: 100%;
    height: 100%;
}

.featured_image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.next, .prev, .close {
    position: absolute;
    color: white;
    border-width: 0px;
    font-size: 2.5em;
}
.next, .prev {
    background: rgba(255,255,255,0.2);
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding-bottom: 5px;
}
.next:hover, .prev:hover, .close:hover {
    background: rgba(255,255,255,0.4);
}
.prev {
    top: 35vh;
    left: 2vw;
}
.next {
    top: 35vh;
    right: 2vw;
}




/* Media Queries */
@media (max-width: 800px) {
    main {
        grid-template-rows: 1fr;
        grid-template-areas:
          "top";
    }
    main .cards { display: none; }
}
