h1{
    text-align: left;
    margin-left: 90px;
    font-family: 'helvetica';
    color: white;
    font-style: italic;
    font-size: 70px;
}

h2{
    margin-top: -40px;
    text-align: left;
    font-family: 'helvetica';
    color: white;
    margin-left: 90px;
    font-weight: 400;
    letter-spacing: 2px;

}

h3{
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

.name{
    margin-top: 10px;
    text-align: center;
    font-family: 'helvetica';
    color: black;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:white;
    color:  #333;
  }

body {
    height:100%;
    margin:0;
    padding:0;
}
body * {
    box-sizing: border-box;
    /* border: solid 1px #000; */
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 20vh;
    grid-template-areas:
      "top"
      "bottom";
    height: 100vh;
    width: 100vw;
}
#featured {
    grid-area: top;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: helvetica;
    margin-top: 10px;
    background: white;
  }
.card-group{
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  min-height: 100vh;
}
  .title {
    color: grey;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .year{
      color: black;
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
  }
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: helvetica;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

img{
    object-fit: cover;
    width:230px;
    height:300px;
}
.image.active {
    border: solid 5px black;
}

.image:hover {
    opacity: 0.7;
}


.preview_box {
    width: 100%;
    height: 100%;
}

.featured_image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.next, .prev, .close {
    position: absolute;
    color: white;
    border-width: 0px;
    font-size: 2.5em;
}
.next, .prev {
    background: rgba(255,255,255,0.2);
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding-bottom: 5px;
}
.next:hover, .prev:hover, .close:hover {
    background: rgba(255,255,255,0.4);
}
.prev {
    top: 35vh;
    left: 2vw;
}
.next {
    top: 35vh;
    right: 2vw;
}


#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

/* Media Queries */
@media (max-width: 800px) {
    main {
        grid-template-rows: 1fr;
        grid-template-areas:
          "top";
    }
    main .cards { display: none; }
}
