.aboutme,
section {
   /* adding borders for debugging */
   
}

html{
    scroll-behavior: smooth;
}
.experience{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #9fe2bf;
    padding-bottom: 100px;
    color: #222;
    text-shadow: 0px 2px 3px #555;
}

.experience2{
    padding-top: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to bottom right,#9fe2bf, rgb(81, 70, 128));
    padding-bottom: 100px;
    color: #222;
    text-shadow: 0px 2px 3px #555;
}
.space {
    height: 500px;

}
h1{

    font-size: 30px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

h1:hover{

    text-align: center;
    font-family: 'Space Mono', monospace;
    color: black;
    -webkit-text-stroke: 0.5px black;
}

h2{
    text-align: center;
    font-family: 'Space Mono', monospace;
    color:black;
    
    font-size: larger;
}

h3{
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    -webkit-text-stroke: 0.5px black;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: lightblue; /* Green */
    color: rgb(100, 102, 219);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 200px;
    
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "a a a"
        "b c d";
    height: 100%;
    grid-row-gap: 20px;
    padding: 70px;
    align-content: center;
  
 }

 .emailtitle{
    grid-area: a;
   
}

 .email1{
     grid-area: b;
     width: 200px;
     margin: auto;

 }

 .email2{
    grid-area: c;
    width: 200px;
    margin: auto;   
}

.email3{
    grid-area: d;
    width: 200px;
    margin: auto;

}

  .button:hover {
    color:lightblue;
    background-color: blue;
    border: 50%;

  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:white;
    color:  #333;
  }

  .name{
    margin-right: 58em;
  }

  .aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b";
    height: 100%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 100px;
    min-height: 200px;
    min-width: 400px;
 }

 .info{
     grid-area: b;
     width: 200x;
 }

 .profilepic{
     grid-area: a;
     align-content: center;
     width: 450px;
     margin-left: 150px;
 }
 #welcoming{
     text-align: left;
     margin-left: 1em;
 }
 #aboutme{
     text-align: left;
     margin-left: 1.5em;
 }
 #aboutmeinfo{
    text-align: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#aboutmeinfo:hover{
    text-align: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: cadetblue;
    font-size: 20px;
}



body {
    height:100%;
    margin:0;
    padding:0;
}
body * {
    box-sizing: border-box;
    /* border: solid 1px #000; */
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 20vh;
    grid-template-areas:
      "top"
      "bottom";
    height: 100vh;
    width: 100vw;
}
#featured {
    grid-area: top;
}
.cards {
    grid-area: bottom;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    list-style: none;
}
.card {
    width: 12.5%;
    height: 100%;
    padding-bottom: 10px;
    padding-right: 10px;
}
.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.image.active {
    border: solid 5px black;
}

.image:hover {
    opacity: 0.7;
}


.preview_box {
    width: 100%;
    height: 100%;
}

.featured_image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.next, .prev, .close {
    position: absolute;
    color: white;
    border-width: 0px;
    font-size: 2.5em;
}
.next, .prev {
    background: rgba(255,255,255,0.2);
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding-bottom: 5px;
}
.next:hover, .prev:hover, .close:hover {
    background: rgba(255,255,255,0.4);
}
.prev {
    top: 35vh;
    left: 2vw;
}
.next {
    top: 35vh;
    right: 2vw;
}
/* 
BUTTON FROM THIS SITE https://codepen.io/ahart814/pen/yLNMZGa */
:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
      color:var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
  }
  
  button.big-button {
     padding: 1em 2em;
     border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
  transform-style: preserve-3d;
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  button.big-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
   transform: translate3d(0, 0.75em, -1em);
       transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
  button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
  button.big-button:active {
              transform: translate(0em, 0.75em);
  }
  
  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);
    
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  
  }


/* Media Queries */
@media (max-width: 800px) {
    main {
        grid-template-rows: 1fr;
        grid-template-areas:
          "top";
    }
    main .cards { display: none; }
}
