.content {
    padding: 16px;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1
  }

  .sticky + .content {
    padding-top: 60px;
  }

html{
    scroll-behavior: smooth;
}

.experience{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;

    padding-bottom: 100px;
    color: #222;
    height: 750px;
}

.space {
    height: 500px;

}
h1{
    margin: 0px;
    font-size: 30px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

h1:hover{

    text-align: center;
    font-family: 'Space Mono', monospace;
    color: black;
    -webkit-text-stroke: 0.5px black;
}

h2{
    text-align: center;
    font-family: 'Space Mono', monospace;
    color:black;

    font-size: larger;
}

h3{
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    -webkit-text-stroke: 0.5px black;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: lightblue; /* Green */
    color: rgb(100, 102, 219);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 200px;
  }


.button:hover {
    color:lightblue;
    background-color: blue;
    border: 50%;

  }
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color:white;
    color:  #333;
  }

  .name{
    margin-right: 56em;
  }

  .aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b";
    height: 100%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 100px;
    min-height: 200px;
    min-width: 400px;
 }

 .info{
     grid-area: b;
     width: 200x;
 }

 .profilepic{
     grid-area: a;
     align-content: center;
     width: 450px;
     margin-left: 150px;
 }
 #welcoming{
     text-align: left;
     margin-left: 1em;
 }
 #aboutme{
     text-align: left;
     margin-left: 1.5em;
 }
 #aboutmeinfo{
    text-align: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#aboutmeinfo:hover{
    text-align: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: cadetblue;
    font-size: 20px;
}

.experience-box{
    width: 600px;
    align-content: center;
    height: 250px;

}

 * {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  width: 30%;
  height: 250px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  border-left: blue;
  color: black;
  padding: 22px 16px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  background: none;
  border-left: solid 5px grey;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #96d3b3;
}

/* Create an active/current "tab button" class */
.tab button.active {
  border-left: solid 5px black;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  padding-top: 0em;
  width: 70%;
  height: 300px;
  text-align: left;
}

.job-name{
    text-align: left;
    font-size: 25px;
    margin-top: 0em;
}


body{
    background-image: linear-gradient(to bottom right,#9fe2bf, rgb(81, 70, 128));
}

.projects {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin:100px;
 }
 .projects > section {
    display: flex;
    justify-content: center;
    flex: 0 50%;
    width: 400px;

 }

 .projects > section div {

   margin:20px;
   width: 400px;
   background-color: white;
 }

 .projects > section img{
   width: 400px;
 }

.description{
    margin: 1em;;
}

body {
    height:100%;
    margin:0;
    padding:0;
}
body * {
    box-sizing: border-box;
    /* border: solid 1px #000; */
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 20vh;
    grid-template-areas:
      "top"
      "bottom";
    height: 100vh;
    width: 100vw;
}
#featured {
    grid-area: top;
}
.cards {
    grid-area: bottom;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    list-style: none;
}
.card {
    width: 12.5%;
    height: 100%;
    padding-bottom: 10px;
    padding-right: 10px;
}
.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.image.active {
    border: solid 5px black;
}

.image:hover {
    opacity: 0.7;
}


/*
BUTTON FROM THIS SITE https://codepen.io/ahart814/pen/yLNMZGa */
:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
  }

  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }

  .email1{
      text-align: center;
      padding: 2em;
      margin-bottom: 2em;;

  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
      color:var(--colorShadeA);
    font-weight: 700;

    font-family: inherit;
  }

  button.big-button {
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
     margin: auto;
  }
  button.big-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }


  button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }

  button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }

  button.big-button:active {
              transform: translate(0em, 0.75em);
  }

  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);

        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

  }

  .sidenav {
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 500px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
    align-items: center;
  }
  
  .sidenav ul {
    padding: 6px 8px 10px 6px;
    text-decoration: none;
    color: #2196F3;
    display: block;
  }

  .sidenav li {
    
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .sidenav a:hover {
    color: #064579;
  }

  .vl {
    border-left: 3px solid black;
    height: 500px;
    padding-left: 2em;
    text-align: center;
    margin-left: 13px;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;

  text-align: left;
  font-size: 30px;
  padding-left: 100px;
  padding-left: 100px;
  width: 500px;

}

.desc{
  font-size: 14px;

}
.job:hover{
  color: rgb(109, 109, 194);
  font-size: 35px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Media Queries */
@media (max-width: 800px) {
    main {
        grid-template-rows: 1fr;
        grid-template-areas:
          "top";
    }
    main .cards { display: none; }
}
